@import "../base/reset";
@import "../base/typography";
@import "../utils/colors";
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/variables";

.main__top {
  width: 100%;
  height: 4em;
  background-color: $white2;
  @include flexbox($justify: space-between, $items: center);
  padding: 1.5em;
  border-bottom: $border;

  &__heading {
    font-size: 1.5em;
    color: $dark;
    font-weight: $font-weight;
    font-style: $font-style;
  }

  &__btn {
    background-color: $white2;
    color: $white3;
    border: none;
    outline: none;
    font-size: 1.5em;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }
}
