@import "../base/reset";
@import "../base/typography";
@import "../utils/colors";
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/variables";

.details {
  position: relative;

  .sidebar__item:nth-child(1) {
    cursor: initial;

    .sidebar__item__order {
      background-color: $purple;
    }

    .sidebar__item__text {
      color: $white;
    }
  }

  .sidebar__item:nth-child(2) {
    cursor: initial;

    .sidebar__item__order {
      background-color: $purple;
    }

    .sidebar__item__text {
      color: $white;
    }
  }

  .sidebar__item:nth-child(3) {
    cursor: initial;

    .sidebar__item__order {
      background-color: $purple;
    }

    .sidebar__item__text {
      color: $white;
    }
  }

  .sidebar__item:nth-child(4) {
    cursor: pointer;

    .sidebar__item__order {
      background-color: $green;
    }

    .sidebar__item__text {
      color: $green;
    }
  }

  &__ok__modal,
  &__error__modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: 25%;
      z-index: 999;
      background-color: $white;
      border-radius: 0.5em;
      @include flexbox($justify: center, $items: center);

      &__closeBtn {
        background-color: $white;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        border: none;
        outline: none;
        font-size: 1.3em;
        color: $dark4;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__ok__modal {
    &__content__text {
      color: $green;
      font-weight: $font-weight;
      font-style: $font-style;
      font-size: 1.2em;
    }
  }

  &__error__modal {
    &__content__text {
      color: $orange;
      font-weight: $font-weight;
      font-style: $font-style;
      font-size: 1.2em;
    }
  }
}

.details__container {
  @include flexbox($direction: column, $justify: space-between, $items: center);
  width: 82vw;
  height: 100vh;

  .main__content {
    &__form {
      @include flexbox(
        $justify: space-between,
        $items: center,
        $gap: 1.5em,
        $direction: column
      );
      width: 100%;

      &__line {
        width: 100%;
        @include flexbox($justify: space-between, $items: center, $gap: 1.5em);

        &__item {
          width: 100%;
          @include flexbox(
            $direction: column,
            $justify: space-between,
            $items: flex-start,
            $gap: 0.5em
          );

          label {
            color: $dark;
            font-size: 1.1em;
          }

          input {
            width: 100%;
            padding: 0.8em 0.6em;
            border: none;
            outline: none;
            font-size: 1.2em;
          }

          span {
            color: $red;
          }
        }
      }
    }

    &__notes {
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 0.5em
      );
      width: 100%;
      height: auto;

      &__title {
        color: $dark;
        font-size: 1.2em;
      }

      &__info {
        background-color: $white;
        width: 100%;
        height: 100%;
        padding: 1.5em;
        @include flexbox(
          $direction: column,
          $justify: flex-start,
          $items: flex-start,
          $gap: 1em
        );

        &__item {
          @include flexbox(
            $justify: flex-start,
            $items: flex-start,
            $gap: 0.5em
          );

          &__key {
            color: $purple;
            font-weight: $font-weight;
            font-style: $font-style;
            font-size: 1em;
          }

          &__value {
            font-size: 1em;
            color: $dark1;

            span {
              color: $green;
            }
          }
        }
      }
    }
  }
}
