$dark: #292d32;
$dark1: #111;
$dark2: #4d545a;
$dark3: #626c76;
$dark4: #828f9a;
$dark5: #8f9ca7;
$white: #fff;
$white2: #f5f7fa;
$white3: #adbfc7;
$white4: #f7f8fb;
$green: #53d56c;
$green2: #4fbf65;
$purple: #6c70dc;
$grey: #ecedf1;
$grey2: #aaacaf;
$grey3: #eceff2;
$orange: #f4be6c;
$red: #ef264d;
